<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" xmlns:th="httep://www.thymeleaf.com">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>bookstore</title>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
				<body>
					<nav class="navbar navbar-expand-lg bg-dark">
						<div class="container-fluid">
							<a class="navbar-brand text-white">Book Store</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"/>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link active text-white" aria-current="page" href="/">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-white" href="bk_available">Available Books</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-white" aria-disabled="true" href="bk_my">My Books</a>
									</li>
								</ul>
								<div>
									<a class="nav-link text-white" aria-disabled="true" href="bk_register">New Book Register</a>
								</div>
							</div>
						</div>
					</nav>
					<!-- form division -->
					<div classname="container my-5 p-7">
						<!--style="border: 1px solid black;"-->
						<h2 class="text-center">Edit Book Register</h2>
						<form class="col-md-4 offset-md-4" th:action="@{/save}" method="post" th:object=${eBook}>
							<input type="hidden" name="id" th:value="${eBook.id}"/>
							<div class="mb-3">
								<label for="name" class="form-label">Name</label>
								<input type="text" class="form-control" name="bookName" th:value="${eBook.bookName}">
			</div>
								<div class="mb-3">
									<label for="author" class="form-label">Author</label>
									<input type="text" class="form-control" name="author"  th:value="${eBook.author}">
			</div>
									<div class="mb-3">
										<label for="price" class="form-label">Price</label>
										<input type="text" class="form-control" name="price"th:value="${eBook.price}">
			</div>
										<center>
											<button type="submit" class="btn btn-primary">Submit</button>
										</center>
									</form>
								</div>
								<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"/>
							</body>
						</html>